[submodule "services/negotiationsim"]
	path = services/negotiationsim
	url = git@github.com:jrmst102/negotiationsim.git
[submodule "services/scenariomanager"]
	path = services/scenariomanager
	url = git@github.com:jrmst102/scenariomanager.git
[submodule "services/ahpstudio"]
	path = services/ahpstudio
	url = git@github.com:jrmst102/ahpstudio.git
